/dts-v1/;
/plugin/;

/ {
	compatible = "ti,am68-sk", "ti,j721s2";

	fragment@0 {
		/* SK-AM68 40-pin expansion header pins 3/5 are I2C4. */
		target = <&main_i2c4>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			mspm0_mux: gpio-expander@20 {
				compatible = "nxp,pca9538";
				reg = <0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-line-names =
					"RST_SEL",
					"PWM_SEL",
					"AN_SEL",
					"INT_SEL",
					"CIPO_SEL_0",
					"CIPO_SEL_1",
					"",
					"";
				status = "okay";

				/* TI AM68 SK-EVM audio-board routing defaults. */
				rst-sel-hog {
					gpio-hog;
					gpios = <0 0>;
					output-high;
					line-name = "RST_SEL";
				};

				pwm-sel-hog {
					gpio-hog;
					gpios = <1 0>;
					output-high;
					line-name = "PWM_SEL";
				};

				an-sel-hog {
					gpio-hog;
					gpios = <2 0>;
					output-high;
					line-name = "AN_SEL";
				};

				int-sel-hog {
					gpio-hog;
					gpios = <3 0>;
					output-high;
					line-name = "INT_SEL";
				};

				cipo-sel-0-hog {
					gpio-hog;
					gpios = <4 0>;
					output-high;
					line-name = "CIPO_SEL_0";
				};

				cipo-sel-1-hog {
					gpio-hog;
					gpios = <5 0>;
					output-high;
					line-name = "CIPO_SEL_1";
				};
			};
		};
	};

	fragment@1 {
		target = <&main_pmx0>;
		__overlay__ {
			hat_gpio24_pins: hat-gpio24-pins {
				pinctrl-single,pins = <
					0x0034 0x00050007 /* HAT pin 18 / GPIO24 / GPIO0_13 input */
				>;
			};
		};
	};

	fragment@2 {
		target = <&wkup_pmx0>;
		__overlay__ {
			hat_gpio25_pins: hat-gpio25-pins {
				pinctrl-single,pins = <
					0x011c 0x00050007 /* HAT pin 22 / GPIO25 / WKUP_GPIO0_67 input */
				>;
			};
		};
	};

	fragment@3 {
		target = <&main_gpio0>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&hat_gpio24_pins>;
			gpio-line-names = "", "", "", "", "", "", "", "", "", "",
				"", "", "", "GPIO24";
			status = "okay";
		};
	};

	fragment@4 {
		target = <&wkup_gpio0>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&hat_gpio25_pins>;
			gpio-line-names = "", "", "", "", "", "", "", "", "", "",
				"", "", "", "", "", "", "", "", "", "",
				"", "", "", "", "", "", "", "", "", "",
				"", "", "", "", "", "", "", "", "", "",
				"", "", "", "", "", "", "", "", "", "",
				"", "", "", "", "", "", "", "", "", "",
				"", "", "", "", "", "", "", "GPIO25";
			status = "okay";
		};
	};
};
